*{
    box-sizing: border-box;
}
.outer{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}
input{
    font-size: 40px;
}
button{
    font-size: 30px;
    padding: 10px;
}